.container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: 
  "header header header"
  "new-task . ."
  "tasks-title details details"
  "list details details"
  ;
  margin-top: 20px;
}

.header {
  grid-area: header;
  margin: auto;
  font-size: xx-large;
}

.new-task {
  grid-area: new-task;
  width: 50%;
}

.task-list {
  grid-area: list;
}

.task-details {
  grid-area: details;
  margin-top: 40px;
}

.form {
  display: none;
}

.class-list-title {
  grid-area: tasks-title;
  font-size: larger;
  margin-top: 20px;
}

.task {
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}