.container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: 
  "header header header"
  "new-task details details"
  "list details details"
  ;
}

.header {
  grid-area: header;
}

.new-task {
  grid-area: new-task;
}

.task-list {
  grid-area: list;
}

.task-details {
  grid-area: details;
}